USE [master]
GO
/****** Object:  Database [HRMS]    Script Date: 3/27/2020 11:35:50 PM ******/
CREATE DATABASE [HRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRMS_EMP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRMS_EMP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRMS_EMP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRMS_EMP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRMS]
GO
/****** Object:  Table [dbo].[CastMaster]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CastMaster](
	[CastCode] [bigint] IDENTITY(1,1) NOT NULL,
	[ReligionID] [bigint] NOT NULL,
	[CastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CastMaster] PRIMARY KEY CLUSTERED 
(
	[CastCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [bigint] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[StateID] [bigint] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_ATTACHMENT_TYPE]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_ATTACHMENT_TYPE](
	[Attachment_Type_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Attachment_Type_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HRMS_ATTACHMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[Attachment_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_CATEGORY_GRADE]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_CATEGORY_GRADE](
	[Category_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Category_Name] [varchar](20) NOT NULL,
	[Grade_Name] [varchar](20) NOT NULL,
	[Grade_Detail] [varchar](150) NULL,
 CONSTRAINT [PK_HRMS_CATEGORY_GRADE] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_COST_CENTER]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_COST_CENTER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Cost_Cntr_Code] [bigint] NOT NULL,
	[Cost_Cntr_Name] [varchar](50) NOT NULL,
	[Parent_Cost_Cntr_Code] [bigint] NULL,
	[Ledger_Code] [bigint] NULL,
 CONSTRAINT [PK_HRMS_COST_CENTER_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_DEPT]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_DEPT](
	[Dept_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Dept_Name] [varchar](50) NOT NULL,
	[Sort_Name] [varchar](10) NOT NULL,
	[Parent_ID] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreateDate] [date] NULL,
	[ModifyBy] [bigint] NULL,
	[ModifyDate] [date] NULL,
 CONSTRAINT [PK_HRMS_DEPT] PRIMARY KEY CLUSTERED 
(
	[Dept_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_EMP_BUSINESSDIVISION_MS]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_EMP_BUSINESSDIVISION_MS](
	[BusinessDivision_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BusinessDivision_Name] [nvarchar](30) NOT NULL,
	[BusinessDivision_SapCode] [bigint] NULL,
 CONSTRAINT [PK_HRMS_EMP_BUSINESSDIVISION_MS] PRIMARY KEY CLUSTERED 
(
	[BusinessDivision_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_EMP_CITIZENSHIP_MS]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_EMP_CITIZENSHIP_MS](
	[CitizenShip_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CitizenShip_Country_NM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HRMS_EMP_CITIZENSHIP_MS] PRIMARY KEY CLUSTERED 
(
	[CitizenShip_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_EMP_DESIGNATION_MS]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_EMP_DESIGNATION_MS](
	[Designation_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Designation_Parent] [nvarchar](30) NOT NULL,
	[Designation_ShortName] [nvarchar](30) NOT NULL,
	[Designation_Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_HRMS_EMP_DESIGNATION] PRIMARY KEY CLUSTERED 
(
	[Designation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_EMP_GENDER_MS]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_EMP_GENDER_MS](
	[Gender_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Gender_Value] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_HRMS_EMP_GENDER_MS] PRIMARY KEY CLUSTERED 
(
	[Gender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRMS_SALUTATION]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRMS_SALUTATION](
	[Salutation_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Salutation_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HRMS_SALUTATION] PRIMARY KEY CLUSTERED 
(
	[Salutation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaritalMaster]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalMaster](
	[MaritalID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaritalName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MaritalMaster] PRIMARY KEY CLUSTERED 
(
	[MaritalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayRollMaster]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayRollMaster](
	[PayRollCode] [bigint] IDENTITY(1,1) NOT NULL,
	[PayRollName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PayRollMaster] PRIMARY KEY CLUSTERED 
(
	[PayRollCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReligionMaster]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReligionMaster](
	[ReligionID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReligionShortName] [varchar](50) NOT NULL,
	[ReligionName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ReligionMaster] PRIMARY KEY CLUSTERED 
(
	[ReligionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegmentMaster]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegmentMaster](
	[SegmentID] [bigint] IDENTITY(1,1) NOT NULL,
	[SegmentName] [varchar](50) NOT NULL,
	[SAPCode] [varchar](50) NULL,
 CONSTRAINT [PK_SegmentMaster] PRIMARY KEY CLUSTERED 
(
	[SegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateID] [bigint] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](50) NOT NULL,
	[CountryID] [bigint] NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitMaster]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitMaster](
	[UnitCode] [bigint] IDENTITY(1,1) NOT NULL,
	[UnitName] [varchar](50) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Pincode] [bigint] NOT NULL,
	[Priority] [bigint] NOT NULL,
	[PaySlip] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[State] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UnitMaster] PRIMARY KEY CLUSTERED 
(
	[UnitCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkLocationMaster]    Script Date: 3/27/2020 11:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkLocationMaster](
	[WorkID] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkLocationName] [varchar](50) NOT NULL,
	[SAPCode] [varchar](50) NULL,
 CONSTRAINT [PK_WorkLocationMaster] PRIMARY KEY CLUSTERED 
(
	[WorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HRMS_DEPT] ADD  CONSTRAINT [DF_HRMS_DEPT_ISACTIVE]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CastMaster]  WITH CHECK ADD  CONSTRAINT [FK_CastMaster_ReligionMaster] FOREIGN KEY([ReligionID])
REFERENCES [dbo].[ReligionMaster] ([ReligionID])
GO
ALTER TABLE [dbo].[CastMaster] CHECK CONSTRAINT [FK_CastMaster_ReligionMaster]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_State] FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([StateID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_State]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Country]
GO
USE [master]
GO
